body{
    background-color: #f4f4f4;
}

.hero{
    padding: 100px 20px;
}

.card-pet{
    margin-bottom: 20px;
}

@media(max-width:768px){

    .hero{
        padding: 50px 10px;
    }

}


.home-logo-container{
    margin-top: 30px;
}

.home-logo{
    width: 220px;
    max-width: 100%;
}


.system-logo-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.system-logo{
    width: 120px;
    height: auto;
}

@media(max-width:768px){

    .home-logo{
        width: 150px;
    }

    .system-logo{
        width: 80px;
    }

    .system-logo-container{
        top: 10px;
        right: 10px;
    }

}

.card{
    border: none;
    border-radius: 15px;
}

.btn{
    border-radius: 10px;
}

input, select{
    border-radius: 10px !important;
}